.custom-button {
  transition: background-color 0.2s ease;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: orange;
  text-shadow: 0 0 2px black;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;

  &--hover {
    background-color: red;
  }

  &--active {
    background-color: blue;
  }
}
