.landing-page {
  &__logo {
    width: 100%;
    height: 10rem;
    position: relative;

    img {
      position: absolute;
      top: -1rem;
      left: calc(50% - 12rem);
      width: 12rem;
    }
  }

  &__brick-wall {
    width: 100%;
    height: 10rem;
    background-image: url('brick-wall.svg');
    background-size: 8rem 8rem;
    background-repeat: repeat;
  }

  &__start {
    background: white;
    width: 60rem;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem auto 0;
  }
}
